*{
    /* margin: 0; */
}


h1{
    border: 2px solid red;
}

p{
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 30px;

    margin: 30px 100px 30px 20px;
    border: 20px solid red;
    border-right: 5px dotted blue;
    border-bottom: 5px dashed green;

    border-radius: 5ch;
}